@font-face{
  font-family:'VAGRoundedBT-Regular';
  src:url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.eot);
  src:url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.eot?#iefix) format('embedded-opentype'),
     url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.woff) format('woff'),
     url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.ttf) format('truetype');
}
h1{
    font-family:'VAGRoundedBT-Regular';
    font-size: 22px;
    margin: 0;
}
.app, .app:focus, .app:focus:active{
  color: #333;
  font-size: 14px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
#splash
{
    /*background-image:url("../img/peanuts.jpg");*/
    /* background-image:url("../img/background_checked.gif"); */
    background: #fff;
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    z-index: 901;
    transition: all 1s;
    -webkit-transition: all 1s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
#splash.off{
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
#splash #logo
{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 245px;
    height: 100px;
    margin: 100px auto;
    border: 40px solid white;
    border-bottom: 45px solid white;
    border-top: 50px solid white;
}
#head{
    position: relative;
    background-color: #f90033;
    color: white;
    font-size: 31px;
    font-family: VAGRoundedBT-Regular;
    padding: 12px 12px 5px 10px;
    border-bottom: 1px solid #AF0527;
}
#menu-trigger{
    position: absolute;
    top: 0;
    right: 0;
    overflow:hidden;
    width: 60px;
    height: 55px;
    cursor: pointer;
    border-left: 1px solid #AF0527;
    background-image: url( '../img/byker_menu_icon.png' );
    background-position: 2px 0;
}
#menu{
    position: absolute;
    right: 0px;
    overflow: hidden;
    top: 61px;
    z-index: 501;
    font-size: 21px;
    margin-top: -7px;
    width: 0%;
    transition: width 1s;
    -webkit-transition: width 1s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
#menu.on{
    width: 100%;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
#menu-items{
    position: relative;
    left: 0;
    width: 100%;
    background-color: #ccf;
    list-style:none;
    background: #4FA5BE;
    padding: 20px 24px 22px;
    margin: 2px 0px;
    min-width: 200px;
}
#menu-items li{
  padding: 8px 0;
}
#screens{
  position: relative;
  top: 0;
  width: 100%;
  background-image: url('../img/background_checked.gif');
  overflow: hidden;
}
.screen{
    position:absolute;
    width:100%;
    height: 300px;
    line-height: 1.5;
    background-image: url('../img/background_checked.gif');
    box-shadow: 0 0 10px #333;
}
.mdrcsstransitions .screen.on{
  z-index: 101;
  left: 0;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
}
.mdrcsstransitions .screen{
  z-index: 100;
  left: 100%;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -webkit-transition-delay: 0.5s;
}
.mdrcsstransitions .screen.pushed{
  left: -100%;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
}
.screen .container,
.screen ul li{
  background: #fff;
}
.screen .container{
  padding: 20px 12px;
}
.screen ul
{
    margin: 0;
    padding: 0 0 0 0;
    background-image: url('../img/background_checked_saturated.gif');
}

.screen ul li
{
  list-style: none;
  margin: 0 0 1px 0;
  position: relative;
}

.screen ul li .image{
  width: 50px;
  height: 50px;
  background: #888;
  position: absolute;
}

.screen ul li .title{
  display: inline-block;
  padding: 16px 11px 13px;
}

#newsfeed ul li .title{
  margin-left: 50px;
  margin-right: 25px;
}

#newsfeed ul li .icon.chevron{
  width: 15px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 11px;
  background-color: #B7E0EB;
  background-image: url('../img/byker-chevron-icon.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.news-detail{
  background-image: url('../img/background_checked_saturated.gif');
  padding-bottom: 1px;
  margin-bottom: 160px;
}

.news-detail>div{
  background: white;
  padding: 24px 12px 20px;
}

.news-detail h1{
  color: #ee5e2c;
  margin: 2px 0 0 0;
  line-height: 1.25;
}

.news-detail .date{
  margin: 0;
  color: #4fa5be;
}

.news-detail>div.image{
  height: 1px;
  width: 100%;
  padding: 0;
  background: url( '../img/background_checked_saturated.gif' );
  position: relative;
  overflow: hidden;
}

.news-detail>div.image.with-image{
  padding: 1px 0;
}

.news-detail>div.image .image-backing{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.7; */
  background: #3d5f84;
  box-shadow: inset 0 0 2px #000;
}

.news-detail>div.image img{
  position: absolute;
  box-shadow: 0 0 2px #000;
}

.news-detail .description{
  padding-top: 8px;
  padding-bottom: 48px;
  margin-bottom: 2px;
}

input,
label{
  display: inline-block;
}

label{
  width: 100px;
}

textarea,
input{
  display: block;
  width: 100%;
  border: 1px solid #4FA5BE;
  border-radius: 2px;
  padding: 4px 6px;
  margin-left: -6px;
}

input{
  height: 30px;
}

textarea{
  height: 100px;
  padding-top: 12px;
}

form{
  padding: 12px;
  padding-bottom: 24px;
}

form div{
  margin-bottom: 13px;
  padding: 0 6px;
}

form div:last-child{
  margin-bottom: 0;
}

button{
  background: #4FA5BE;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 2px 10px;
  height: 40px;
  width: 100%;
}

#contact h1{
  color: #ee5e2c;
  margin-bottom: 1px;
}

@media (max-device-width: 1080px){
  .app{
      font-size: 22px;
  }
  h1{
      font-size: 57px;
  }
  #menu.on{
    width: 200px;
  }
}
