.app{
}
.feed
{

}
.feed ul
{
    margin:0;
    padding:0;
    border-top: 1px solid #888;
}
.feed ul li
{
    list-style: none;
    margin:0;
    padding: 5px 4px;
    border-bottom: 1px solid #888;
}
#splash
{
    background-image:url("../img/peanuts.jpg");
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    z-index: 101;
}
#head{
    position: relative;
}
#menu-trigger{
    position: absolute;
    top: 5px;
    right: 5px;
    overflow:hidden;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: red;
    border-radius: 4px;
}
#menu{
    position: absolute;
    right: 0px;
    width: 150px;
    overflow: hidden;
    top: 60px;
    z-index: 1;
}
#menu-items{
    position: relative;
    right: -150px;
    width: 150px;
    background-color: #ccf;
    padding: 20px 10px;
    list-style:none;
}
#menu-items.on{
    right: 0px;
}
.screen{
    position:absolute;
    top:80px;
    background-color: #fff;
    width:100%;
    overflow-y: scroll;
    height: 300px;
}
#contact{
    
}