@font-face{
  font-family:'VAGRoundedBT-Regular';
  src:url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.eot);
  src:url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.eot?#iefix) format('embedded-opentype'),
     url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.woff) format('woff'),
     url(http://bykercommunitytrust.org/sites/all/themes/byker/webfonts/218FDE_0_0.ttf) format('truetype');
}
h1{
    font-family:'VAGRoundedBT-Regular';
}
.app{
  color: #333;
  font-size: 14px;
}
#splash
{
    background-image:url("../img/peanuts.jpg");
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    z-index: 101;
}
#head{
    position: relative;
    background-color: #EE5E2C;
    color: white;
    font-size: 31px;
    font-family: VAGRoundedBT-Regular;
    padding: 12px 12px 5px 5px;
}
#menu-trigger{
    position: absolute;
    top: 5px;
    right: 5px;
    overflow:hidden;
    width: 44px;
    height: 43px;
    cursor: pointer;
    background: #DD5426;
    border-radius: 4px;
    border: 1px solid #C54920;
    border-top-color:: #C54920;
    border-bottom-color: #FF7D52;
}
#menu{
    position: absolute;
    right: 0px;
    width: 150px;
    overflow: hidden;
    top: 60px;
    z-index: 1;
    font-size: 21px;
    margin-top: -7px;
    z-index: 109;
}
#menu-items{
    position: relative;
    right: -150px;
    width: 150px;
    background-color: #ccf;
    list-style:none;
    background: #4FA5BE;
    padding: 10px 18px;
    margin: 2px 0px;
}
#menu-items.on{
    right: 0px;
}
#menu-items li{
  padding: 5px 0;
}
.screen{
    position:absolute;
    top:55px;
    background-color: #fff;
    width:100%;
    overflow-y: scroll;
    height: 300px;
    line-height: 1.4;
}
.screen ul
{
    margin:0;
    padding:0;
}
.screen ul li
{
    list-style: none;
    margin:0;
    padding: 13px 11px 13px;
    border-bottom: 1px solid #aaa;
}
#contact{
    
}
