<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.furrynoodles.rss"
      version="0.1.0">
    <name>Rss</name>
    <description>RSS Phonegap Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,furry</keywords>


    <js-module src="www/rss.js" name="Rss">
        <clobbers target="window.rss" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Rss">
                <param name="android-package" value="com.furrynoodles.rss.Rss"/>
            </feature>
        </config-file>

        <source-file src="src/android/Rss.java" target-dir="src/com/furrynoodles/rss" />      
        <source-file src="src/android/RomeRss.java" target-dir="src/com/furrynoodles/rss" />      
     </platform>          
</plugin>
